@import "tailwindcss";
@import "tailwindcss/theme";

@layer theme {
:root {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-machine: "Courier New", Courier, monospace;
  --color-red-50: oklch(0.971 0.013 17.38);
  --color-red-100: oklch(0.936 0.032 17.717);
  --color-red-200: oklch(0.885 0.062 18.334);
  
  --background: #ffffff;
  --foreground: #171717;
  
  --primary: #dc2626;
  --primary-hover: #b91c1c;
 
  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  
}}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-machine);
    line-height: 1.6;
    letter-spacing: 0.03em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-sans), sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--primary);
  }
  
  a {
    color: var(--primary);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }

  a:hover {
    color: var(--primary-hover);
  }

}

button, input {
  padding: 10px 15px;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

input:hover {
  color: var(--primary-hover);

}

@keyframes fade-in-scale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@layer utilities {
  .shadow-2xs {
    box-shadow: 0 1px rgb(0 0 0 / 0.05);
  }

  .shadow-xs {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }

  .shadow-sm {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }
}

@layer components {
  .animate-fade-in-scale {
    animation: var(--animate-fade-in-scale);
  }
}